.image-viewer {
  width: 600px;
}

.image-viewer img {
  display: block;
}

.image-viewer .description {
  margin: 25px 0 15px 0;
}

.image-viewer .description .user {
  font-weight: bold;
  padding-right: 5px;
}
