.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 0 0;
}

.modal-header .dismiss-modal {
  cursor: pointer;
  font-size: 30px;
}

.modal-header .dismiss-modal:hover {
  color: gray;
}

.modal-content {
  border-radius: 5px;
  border: 1px solid #e9eef0;
  background: #fcfcfc;
  max-width: 80%;
  max-height: 80%;
  overflow: scroll;
}

.modal-body {
  padding: 20px 40px;
}
